@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8758ff;
}

@layer components {
  .button {
    @apply bg-[#8758ff] border-hidden text-white p-[0.40rem];
  }
}
